.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --main-BG:   hsl(217, 54%, 11%);
    --card-BG:   hsl(216, 50%, 16%);
    --line:      hsl(215, 32%, 27%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan:      hsl(178, 100%, 50%);
    --White:     hsl(0, 0%, 100%)
}

* {
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-BG);
    
}


.carte {
    background: var(--card-BG);
    padding: 20px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px rgb(19, 16, 31);
    
}

/* IMAGE */

.carte-equilibrium {
    width: 310px;
    position: relative;
    margin-bottom: 20px;
} 

img {
    width: 100%;
    border-radius: 7px;
}


.image-svg {
    width: 100%;
    height: 310px;
    border-radius: 7px;
    background: var(--Cyan);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.2s;
}
.carte-equilibrium div a {
    width: 310px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------| MID |--------------------------- */

/* TEXT */
.equilibrium , a{
    color: var(--White);
    text-decoration: none;

}

.equilibrium {
    font-weight: 600;
    font-size: 23px;
}


.text {
    color: var(--Soft-blue);
    font-size: 18px;
    margin: 20px 0;
}


.price , .time , .price-box{
    display: flex;
}

.price-box {
    justify-content: space-between;

}

.price p{
    color: var(--Cyan);
}

.time p {
    color: var(--Soft-blue);
}

.price , .time {gap: 7px;}

p {
    color: var(--White);
}

/* ------------------------| BOT |------------------------------- */

hr {
    height: 1px;
    border: 0;
    background-color: var(--line);
    margin: 20px 0 15px;
}

.profile {
    display: flex;
    margin-bottom: 15px;
}

.profile img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}

.profile .text {
    margin-right: 3px;
}

.attribution {
    color: var(--White);
}

/* ---------------------------| HOVER |---------------------------------- */

a:hover {
    color: var(--Cyan);
    text-decoration: none;
}

.carte-equilibrium:hover .image-svg{
    opacity: 0.6;
}